@import 'deep-purple-palette.scss';
@import '~@angular/material/theming';


@include mat-core();


$app-theme-deep-purple-primary: mat-palette($deep-purple-palette);
$app-theme-deep-purple-accent: mat-palette($deep-purple-palette, A100, A300);
$app-theme-deep-purple-warm: mat-palette($mat-red);

$app-theme-deep-purple: mat-dark-theme($app-theme-deep-purple-primary, 
$app-theme-deep-purple-accent, $app-theme-deep-purple-warm);


@mixin mat-grid-mixin($theme) {
    $primary: map-get(
      $map: $theme,
      $key: primary
    );
  
    mat-grid-tile {
      background-color: mat-color($primary, 500);
      color: mat-contrast($primary, 500);
    }
  }