<div 
    fxLayout="column" 
    fxLayoutAlign="space-around center"
>
    <mat-card 
        *ngIf="(section$ | async); let section; else: spin"
        style="width: 75%; margin-bottom: 100px;" 
    >
        <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="space-around stretch">
                <section>
                    <mat-form-field style="width: 100%">
                        <input matInput placeholder="Name" [(ngModel)]="section.name"/>

                    </mat-form-field>
                </section>  

                <section>
                    <mat-slide-toggle
                    [checked]="fictionSelected"
                    (change)="fictionChange($event)"
                    #ficToggle    
                    >
                        <p *ngIf="ficToggle.checked; else nonFic">Fiction</p>
                    </mat-slide-toggle>
                </section>
                <section>
                    <mat-form-field style="width: 100%">
                        <input 
                            name="genre"
                            type="text"
                            matInput
                            [formControl]="genreControl"
                            [matAutocomplete]="auto"
                            placeholder="Gênero"
                            aria-label="Gênero"
                        />
                    </mat-form-field>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option
                            *ngFor="let genre of (genreList$ | async)"
                            [value]="genre"    
                        >
                        {{ genre }}
                    </mat-option>

                    </mat-autocomplete>
                </section>

                <section *ngIf="(sectionConfig$ | async); let sectionConfig">
                    <h3>Opções</h3>
                    <div fxLayout="column">
                        <mat-checkbox [(ngModel)]="sectionConfig.options.hasAudio">
                            Audio
                        </mat-checkbox>
                        <mat-checkbox [(ngModel)]="sectionConfig.options.hasPhotos">
                            Fotos
                        </mat-checkbox>
                        <mat-checkbox [(ngModel)]="sectionConfig.options.hasVideos">
                            Videos
                        </mat-checkbox>
                    </div>
                </section>
                <section>
                    <mat-form-field>
                        <input 
                            matInput
                            [matDatepicker]="picker"
                            placeholder="Informe a data"
                        >
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                        >
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </section>

                <section>
                    <mat-form-field style="width: 100%">
                        <mat-select placeholder="Idade para categoria">
                            <mat-option
                                *ngFor="let ageCategory of (sectionConfig$ | async)?.ageCategory"
                                [value]="ageCategory"
                            >
                            {{ageCategory}}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                </section>

                <section>
                    <h3>Taxa</h3>
                    <mat-slider
                        min="1"
                        max="5"
                        step="0.5"
                        value="1.5"
                        [(ngModel)]="sectionRating"
                    >

                    </mat-slider>
                </section>

                <section>
                    <h3>Status</h3>
                    <mat-radio-group
                        [(ngModel)]="sectionStatus"
                        fxLayout="column"
                    >
                        <mat-radio-button value="Documentary">Documentário</mat-radio-button>
                        <mat-radio-button value="Recorded">Gravado</mat-radio-button>
                    </mat-radio-group>
                </section>

            </div>
        </mat-card-content>
        <mat-card-actions> <button mat-button>Ok</button> </mat-card-actions>
    </mat-card>
</div>
<ng-template #spin>
    <mat-spinner></mat-spinner>
</ng-template>