service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write;
    }
    match /sections/{sectionId} {
      allow read: if true;

      match /room/{roomId} {
        allow read: if true;
      }
      match /seats/{seatId} {
        allow read: if true;
      }
    }
    match /movies/{movieId} {
      allow read: if true;
    }
  }
}