@import '~@angular/material/theming';

@include mat-core();


$app-theme-blue-primary: mat-palette($mat-blue);
$app-theme-blue-accent:  mat-palette($mat-blue, A400);
$app-theme-blue-warn:    mat-palette($mat-red);
$app-theme-blue: mat-light-theme($app-theme-blue-primary, $app-theme-blue-accent, $app-theme-blue-warn);




