<mat-sidenav-container>
    <mat-sidenav #sidenav class="sidenav" mode="over">
        <mat-nav-list>
            <mat-nav-list>
                <h4 matLine routerLink="." [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-link">
                    Home
                </h4>
                <h4 matLine routerLink="sections" [routerLinkActiveOptions]="{ exact: true }"
                    routerLinkActive="active-link">
                    Sections
                </h4>
            </mat-nav-list>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <mat-toolbar-row fxLayoutAlign="space-between center">
                <div fxLayoutAlign="space-between center" class="toolbar-start">
                    <button mat-icon-button>
                        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
                    </button>
                    <span>
                        <a routerLink=".">Ingresso</a>
                    </span>
                    <span>
                        <a routerLink=".">Comprar</a>
                    </span>
                    <span>
                        <a routerLink="login">Login</a>
                    </span>
                </div>
                <div fxLayoutAlign="space-between end" class="toolbar-end">
                    <span>
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>format_color_fill</mat-icon>
                        </button>

                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="pickColor('')">
                                <div mat-menu-item class="color-swatch color-swatch-primary"></div>
                            </button>
                            <button mat-menu-item (click)="pickColor('green')">
                                <div mat-menu-item class="color-swatch color-swatch-green"></div>
                            </button>
                            <button mat-menu-item (click)="pickColor('blue')">
                                <div mat-menu-item class="color-swatch color-swatch-blue"></div>
                            </button>
                            <button mat-menu-item (click)="pickColor('deep-purple')">
                                <div mat-menu-item class="color-swatch color-swatch-deep-purple"></div>
                            </button>
                        </mat-menu>
                    </span>
                    <span>
                        <a mat-icon-button href="https://github.com/JohnnySilvaa/ingressos-front">
                            <mat-icon class="icon-github"></mat-icon>
                        </a>
                    </span>
                    <span>
                        <a mat-icon-button href="https://www.linkedin.com/in/johnny-ferreira-66b582167/">
                            <mat-icon class="icon-linkedin"></mat-icon>
                        </a>
                    </span>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
            <header class="{{getColorHeader()}}">
                <h2>{{getTitle()}}</h2>
            </header>
            <main>
                <router-outlet></router-outlet>
            </main>
    </mat-sidenav-content>
</mat-sidenav-container>