<mat-sidenav-container>
    <mat-sidenav #sidenav class="sidenav" mode="side">
        <mat-nav-list>
            <mat-nav-list>
                <h4 matLine routerLink="/home" [routerLinkActiveOptions]="{ exact: true }"
                    routerLinkActive="active-link">
                    Home
                </h4>
            </mat-nav-list>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-icon-button>
                    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
                </button>
                <span fxFlex>
                    <a class="home-link" routerLink=".">Ingresso</a>
                </span>
                <span>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>format_color_fill</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="pickColor('')">
                            <div mat-menu-item class="color-swatch color-swatch-primary"></div>
                        </button>
                        <button mat-menu-item (click)="pickColor('green')">
                            <div mat-menu-item class="color-swatch color-swatch-green"></div>
                        </button>
                        <button mat-menu-item (click)="pickColor('blue')">
                            <div mat-menu-item class="color-swatch color-swatch-blue"></div>
                        </button>
                        <button mat-menu-item (click)="pickColor('deep-purple')">
                            <div mat-menu-item class="color-swatch color-swatch-deep-purple"></div>
                        </button>
                    </mat-menu>
                </span>
            </mat-toolbar-row>
        </mat-toolbar>
        <div fxLayout="column">
            <header class="{{getColorHeader()}} title">
                <h2>{{getTitle()}}</h2>
            </header>
            <main fxLayoutAlign="center center">
                <router-outlet></router-outlet>
            </main>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>