<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <a mat-button [routerLink]="''">Ingresso</a>
      <span class="menu-spacer"></span>
      <div class="nav-bar">
        <ul>
          <li>
            <a mat-button [routerLink]="'/catalog'">Comprar</a>
          </li>
          <li>
            <a mat-button [routerLink]="'/login'">Login</a>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav class="sidenav">
      <mat-nav-list>
       
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content >
      <main class="sidenav-content">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  