@import './assets/themes/theme/theme.scss';
@import './assets/icons/style.css';


.app-theme-blue{
    $theme: $app-theme-blue;
    $color: $app-theme-blue-primary;
    @include angular-material-theme($app-theme-blue);
    @include mat-grid-mixin($theme);
    @include color-link($color);

}

.app-theme-deep-purple{
    $color: mat-palette($deep-purple-palette, 400);
    $theme: $app-theme-deep-purple;
    @include angular-material-theme($app-theme-deep-purple);
    @include mat-grid-mixin($theme);
    @include color-link($color);

}

.app-theme-green{
    $color: $app-theme-green-primary;
    $theme: $app-theme-green;
    @include angular-material-theme($app-theme-green);
    @include mat-grid-mixin($theme);
    @include color-link($color);

}

.app-theme{
    $color: $app-theme-primary;
    $theme: $app-theme;
    @include angular-material-theme($app-theme);
    @include mat-grid-mixin($theme);
    @include color-link($color);

}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:focus {outline: none;} // Remove browser default;