mat-sidenav{
    background-color: white;
}

.home:hover{
    cursor: pointer;
}

.home{
    font-size: 2rem;  
}

.filmes{
    position: absolute;
    right: 0;
    a{
        font-size: 1em;
    }
}

mat-sidenav{
    width: 30%;
    a{
        color:white;
    }
}

body-home{
    h3{
        text-align: center;
    }
}