@import '~@angular/material/theming';
@import './default-palette.scss';


@include mat-core();


$app-theme-primary: mat-palette($default-palette);
$app-theme-accent: mat-palette($default-palette, A400);
$app-theme-warm: mat-palette($mat-red);

$app-theme: mat-dark-theme($app-theme-primary, $app-theme-accent, $app-theme-warm);


@mixin mat-grid-mixin($theme) {
    $primary: map-get(
      $map: $theme,
      $key: primary
    );
  
    mat-grid-tile {
      background-color: mat-color($primary, 500);
      color: mat-contrast($primary, 500);
    }
  }


